@model VKart.ViewModels.CustomerViewModel
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Customer</h2>

@using (@Html.BeginForm("Create", "Customers"))
{
    <div class="form-group">
        @Html.LabelFor(x => x.Customer.Name)
        @Html.TextBoxFor(x => x.Customer.Name, new { @class = "form-control" })
    </div>

  
    <div class="checkbox">
        <label> @Html.CheckBoxFor(x => x.Customer.IsSubscribedToNewsletter)Subscribed To Newsletter?</label>
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Customer.MemberShipTypeId)
        @Html.DropDownListFor(x => x.Customer.MemberShipTypeId, new SelectList (Model.MembershipTypes,"Id","Name"),"-Select-", new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-primary"> Save</button>
}
