@using VKart.Models
@model VKart.ViewModels.RandomBookViewModel

@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>@Model.Name</h2>*@

@*<h2>@( ((Book)ViewData["Book"]).Name )</h2>*@

@*<h2>@( ((Book)ViewBag.Book).Name )</h2>*@

@{
    var className = (Model.Customers.Count >= 5) ? "bg-success" : null;
}
<h2 class=@className>@Model.Book.Name</h2>

@if (Model.Customers.Count == 0)
{
    <p>No Customer is rented this Book.</p>
}
else
{
    <ul>
        @foreach (var customer in Model.Customers)
        {
            <li>@customer.Name</li>
        }
    </ul>
}

